html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	color: #555;
	font-family: sans-serif;
}

.t1 {
	font-size: 35px;
}

.t2 {
	font-size: 30px;
}

.t3 {
	font-size: 25px;
}

.t4 {
	font-size: 20px;
}

.t5 {
	font-size: 17px;
}

.tb {
	font-weight: 700;
}

.df {
	display: flex!important;
}

.dn {
	display: none!important;
}

.dr {
	display: flex;
	flex-direction: row;
}

.dc {
	display: flex;
	flex-direction: column;
}

.jsb {
	justify-content: space-between;
}

.jc {
	justify-content: center;
}

.jsa {
	justify-content: space-around;
}

.aic {
	align-items: center;
}

.z1000 {
	z-index: 1000;
}

.z2000 {
	z-index: 2000;
}

::placeholder {
  color: #ddd;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ddd;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #ddd;
}

a {
	text-decoration: none;
	color: #555;
}

section {
	padding: 0 250px;	
}

@media screen and ( max-width: 1440px ) {
	section {
		padding: 0 25px;
	}
}

.header {
	width: 100%;
	height: 70px;
	box-shadow: 2px 2px 5px #aaa;
	background-color: #ddd;
}

/*.header .home_header {

}

.header .user_header {

}
*/
.header .brand {
	line-height: 70px;
	margin-left: 25px;
}

.header .user i {
	/*display: none;*/
	line-height: 70px;
	margin-right: 25px;
	cursor: pointer;
	z-index: 1100;
}

.header .menu {
	width: 180px;
	display: none;
	position: absolute;
	top: 80px;
	right: 10px;
	border: 1px solid #ccc;
	text-align: center;
	transition: 0.5s;
	z-index: 1100;
	background-color: white;
}

.header .menu_without_section {
	display: none;
	position: absolute;
	top: 70px;
	width: 100%;
	height: 100vh;
	z-index: 1000;
}

.header .menu:before {
    content: "";
    border-width: 11px;
    border-style: solid;
    border-color: transparent transparent #999 transparent;
    position: absolute;
    top: -22px;
    right: 19px;
}

.header .menu:after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -20px;
    right: 20px;
}

.header .menu div:hover {
	background-color: #eee;
	transition: 0.5s;
}

@media screen and ( max-width: 500px ) {
	.header .menu {
		width: 100%;
		top: 70px;
		left: 0;
		padding: 0;
	}

	.header .menu:before {
		right: 34px;
	}

	.header .menu:after {
		right: 35px;
	}
	
	.header .menu div {
		padding: 10px 0!important;
		display: flex;
		justify-content: center;
	}

	.header .login_in_re {
		margin: 0!important;
	}

	.header .login_in_re a {
		width: 85px!important;
	}

	.header .brand {
		margin-left: 20px;
		line-height: 60px;
	}

	.header .brand a {
		font-size: 20px;
	}

	.body .title {
		font-size: 22px;
	}
}

.header .menu div {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}

.header .menu div:hover {
	color: #555;
	cursor: pointer;
}

.header .login_in_re {
	line-height: 70px;
	margin: 0 25px 0 0;
	padding: 15px;
}

.header .login_in_re a {
	height: 38px;
	border: 1px solid #999;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	font-size: 18px;
	margin: 0 5px;
	transition: 0.5s;
}

.header .login_in_re a:hover {
	background-color: #ccc;
	transition: 0.5s;
}

#popup {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
}

#popup.active {
    opacity: 1;
}

#popup #popup_container {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

#popup #popup_container:before {
    content: '';
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}

#popup #popup_container #popup_content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 90%;
}

.popup {
    position: relative;
    display: none;
    margin: auto;
    opacity: 0;
}

.rtl .popup {
    direction: rtl;
}

.popup.active {
    display: inline-block;
    opacity: 1;
    transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
}

.close-popup {
    font-family: Arial !important;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 150%;
    z-index: 999;
    cursor: pointer;
}

.close-popup:before {
    content: '\d7';
    position: relative;
}

@media \0screen {
    /* IE8 only */
    #popup {
        background-color: #4c4c4c;
    }
}

#popup[active-popup=".popup-4"] .close-popup {
    margin-top: 10px;
    margin-right: -10px;
    width: 30px;
    height: 30px;
    background-image: url('../assets/images/starter_pack/designed_popup_close_btn.png');
    border-radius: 0px;
    border: none;
}

#popup[active-popup=".popup-4"] .close-popup:before {
    display: none;
}

.popup-4 .content {
    width: 75%;
    padding-top: 60px;
}

/*** Popup ***/

#popup {
    background-color: rgba(0,0,0,0.7);
    transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

#popup #popup_container #popup_content {
    position: relative;
    display: inline-block;
    max-width: 90%;
}

.popup {
    padding: 25px;
    background-color: #fff;
    -webkit-transform: scale(0.8);
}

.close-popup {
    margin-right: -20px;
    width: 40px;
    border: 2px solid #fff;
}

.close-popup:before {
    font-size: 36px;
    color: #fff;
}

#popup .popup-login {
	position: absolute;
	left: calc( 50% - 225px );
	top: calc( 50% - 165px );
	width: 350px;
	height: 330px;
	padding: 25px 50px;
	display: flex!important;
	flex-direction: column;
}

#popup .popup-login p {
	display: flex;
	justify-content: left;
	margin: 5px 0;
}

#popup .popup-login input {
	height: 38px;
	padding: 0 10px;
}

#popup .popup-login label {
	padding: 5px 0;
	opacity: 0;
}

#popup .popup-login .login_btns a {
	width: 120px;
	height: 35px;
	margin: 10px 5px 0 5px;
	border: 1px solid #999;
	align-items: center;
	display: flex;
	justify-content: center;
}

.close-popup {
	display: none;
}

#popup .popup-register {
	position: absolute;
	left: calc( 50% - 225px );
	top: calc( 50% - 380px );
	width: 350px;
	height: 760px;
	padding: 25px 50px;
	display: flex!important;
	flex-direction: column;
}

#popup .popup-register p {
	display: flex;
	justify-content: left;
	margin: 5px 0;
}

#popup .popup-register input {
	height: 38px;
	padding: 0 10px;
}

#popup .popup-register label {
	padding: 5px 0;
	opacity: 0;
}

#popup .popup-register .register_btns a {
	width: 120px;
	height: 35px;
	margin: 10px 5px 0 5px;
	border: 1px solid #999;
	align-items: center;
	display: flex;
	justify-content: center;
}

@media screen and ( max-width: 500px ) {
	#popup .popup-login {
		width: 275px;
		padding: 20px;
	}

	#popup .popup-login {
		position: absolute;
		left: calc( 50% - 153px );
		top: calc( 50% - 165px );
	}

	#popup .popup-register {
		width: 275px;
		padding: 20px;
	}

	#popup .popup-register {
		position: absolute;
		left: calc( 50% - 153px );
		top: calc( 50% - 380px );
	}
}

.body {
	width: 100%;
	height: auto;
}

.body .title {
	padding: 25px;
}

.body .title label {
	margin-right: 15px;
}

.body .search {

}

input {
	font-size: 18px;
	color: #555;
	outline-style: none;
	border: 1px solid #aaa;
}

.body .search .search_box {
	width: 50%;
}

.body .search .search_box input {
	width: 100%;
	height: 38px;
	margin: 0;
	padding: 0 10px;
	transition: 0.5s;
}

.body .search .search_box input:hover {
	border: 1px solid #be2e38;
	transition: 0.5s;
}

.body .search .search_box input:focus {
	border: 1px solid #be2e38;
	transition: 0.5s;
}

.body .search .search_button {
	width: 120px;
}

.body .search .search_button input {
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0 0 0 22px;
	transition: 0.5s;
	cursor: pointer;
	background-color: #ddd;
}

.body .search .search_button input:hover {
	background-color: #ccc;
	transition: 0.5s;
}

.body .item_list {

}

.body .item_list .row {
	margin: 20px 0;
	flex-wrap: wrap;
}

.body .item_list .row .item {
	width: 22%;
	min-width: 225px;
	margin: 1% 1%;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 2px 3px 5px #999;
	background-color: #ddd;
	position: relative;
}

.body .item_list .row .item .book_cover {
}

.body .item_list .row .item .book_cover img {
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.body .item_list .row .item .item_title {
	padding: 20px;
    margin-bottom: 40px;
	text-align: center;
}

.body .item_list .row .item .charge_favorite {
	width: calc( 100% - 50px );
	margin: 0 25px 25px 25px;
	position: absolute;
	bottom: 0
}

.body .item_list .row .item .charge_favorite i {
	cursor: pointer;
	font-size: 20px;
}

@media screen and ( max-width: 1024px ) {
	section {
		padding: 0 100px;
	}

	.body .item_list .row {
		display: flex;
		flex-wrap: wrap;
	}

	.body .item_list .row .item {
		width: 40%;
		margin: 3%;
	}
	.body .item_list .row {
		margin: 5px 0;
	}
}

@media screen and ( max-width: 768px ) {
	section {
		padding: 0;
	}

	.body .item_list .row .item {
		margin-bottom: 10px;
	}

}

footer {
	width: 100%;
	color: #ddd;
	background-color: #333;
}

footer .footer_top {
	padding: 50px;
}

footer .footer_top .phone_number div {
	padding: 5px 0;
}

footer .footer_top .mail_address div {
	padding: 5px 0;
}

footer .footer_bottom {
	height: 50px;
	display: flex;
	justify-content: center;
	background-color: #333;
}

footer .up_arrow a {
	position: fixed;
    bottom: 20px;
    right: 20px;
    color: #11111190;
    font-size: 35px;
    transform: matrix(1.5, 0, 0, 1, 0, 0);
    border-radius: 50%;
    background-color: #99999980;
    display: flex;
    justify-content: center;
    padding: 10px 9px 0px 9px;
}

@media screen and ( max-width: 500px ) {
	footer .up_arrow a {
		display: none;
	}
}

.social_icon a {
  padding: 10px;
  font-size: 20px;
  width: 22px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  box-shadow: 1px 2px 3px #222;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}


